*{
    margin: 0;
    padding: 0;
}

.background{
    background: rgba(0,0,0,0.7) url('Assets/logo2.jpg');
    background-size:cover;
    background-blend-mode:darken;
}

.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;

}
.navbar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.nav-list{
    width: 70%; 
    display: flex; 
    align-items: center;


}

.nav-list li{
list-style: none;
padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{
    text-decoration: none;
    color:grey;
    }


.rightNav{
    background-color: black;
    width: 50%;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
        height: 80%;
}

.firstSection{
    height: 100vh;
}

.firstHalf{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf img{
    width:70%;
    border:4px solid white;
    border-radius:15px;
    display: block;
    margin:auto;

}

.text-big{
    font-size: 41px;
}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark{
    color: black;
        border: 2px solid grey;

}
.section{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.sectionTag{
    padding: 16px 0;
}

.dropdown {
    display: none; /* Hide the dropdown list initially */
    position: absolute; /* Position it relative to the button */
    background-color: #b6e311; /* Set background color */
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  .nav-list li:hover .dropdown { /* Show dropdown on hover */
    display: block;
  }
  
  .dropdown li {
    padding: 5px 10px; /* Add padding to menu items */
  }
  


  /* Footer */


.footer-bottom {
  padding-block: 20px;
  text-align: center;
}

.copyright {
  font-size: var(--fs-6);
  margin-block-end: 20px;
}

.footer-bottom .w-100 {
  max-width: max-content;
  margin-inline: auto;
}


/*
buttons
*/

